/* custom font */
@font-face {
  font-family: "BlackJack";
  src: url(black_jack.ttf) format("truetype");
}

@font-face {
  font-family: "CabinRegular";
  src: url(Cabin-Regular.otf) format("opentype");
}

/* ===========navbar and top-container =============*/
.navbar-header #name {
  font-family: "BlackJack", sans-serif;
  font-size: 35px;
  text-decoration: none;
  position: relative;
  float: left;
}

#topContainer {
  background-image: url("images/background-2.jpg");
  width: 100%;
  background-size: cover;
  background-attachment: fixed;
}

/* ================================================ */

#profile-pic img {
  border-radius: 125px;
  position: relative;
  top: 35px;
  left: 50px;
}

#experience .container .row h2, #experience .container .row p {
  width: 500px;
}

#experience .container .midrow p {
  font-size: 17px;
}

h3 {
  font-size: 20px;
  font-weight: bold;
}

h2 {
  font-size: 26px;
  font-weight: bold;
}


/* ====================common effect================ */

body {
  font-family: "CabinRegular", sans-serif;
  -webkit-user-select: none; /* Webkit */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE 10 */
  /* Currently not supported in Opera but will be soon */
  -o-user-select: none;
  user-select: none;
}

/* set sub-title font size */
.jumbotron .subtitle {
  font-size: 35px;
}

.toprow {
  height: 105px;
  border-bottom: 1px solid #7DBFC9;
  padding-bottom: 5px;
  text-align: center;
}

.jumbotron .bottomline {
   border-bottom: 1px solid #7DBFC9;
   padding-bottom: 25px;
}

.jumbotron .container h1 {
  color: #284870; 
}

.jumbotron {
  height: auto;
}

.background-white {
  background-color: white;
}

.float-right {
  position: relative;
  float: right;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}


/* ====================footer======================== */

.footer {
  height: 65px;
  text-align: center;
  background-color: #292929;
}

.footer #copyright {
  color: #23527C;
  position: relative;
  top: 25px;
  font-weight: bold;
}